$zindex-navbar:800;


$zindex-modal-background:  900;
$zindex-modal: 950;

$zindex-dropdown:          10000;

//color palet
$font-white: #fff;
$red: #ac0d0d;
$dark-blue: #323b44;
$light-blue: #007d9b;
$color-grey: #c0c0c2;
$font-active: #eee;
$navbar-bottom-font-color: $dark-blue;
$navbar-bottom-background-color: #fff;
//$color-red: #E53935;
$color-red: #d81b60;
$color-blauw: #0097a7;
$color-groen: #9ccc65;
$color-geel: #fbc02d;

// Body
$body-bg: #fff;
$path: '';

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "";

$font-family-sans-serif: 'Roboto', sans-serif;

$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//btn
$btn-font-weight: 1.5em;

$btn-default-color: $font-white;
$btn-default-bg: $dark-blue;
$btn-default-border: $dark-blue;
