
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Tinos);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "nav/navbar";
@import "images";
@import "add/progress";
.margin-top-1{
  margin-top: 1%;
}
.margin-top-2{
  margin-top: 2%;
}
.margin-top-3{
  margin-top: 3%;
}
.margin-top-4{
  margin-top: 4%;
}
.margin-top-5{
  margin-top: 5%;
}
.margin-top-10{
  margin-top: 10%;
}