.table-style .today {
  border: solid 2px $dark-blue;
}

.table-style th:nth-of-type(7), td:nth-of-type(7) {
  color: $light-blue;
}

.table-style th:nth-of-type(1), td:nth-of-type(1) {
  color: $color-red;
}

.table-style tr:first-child th {
  background-color: #f3f1ed;
  text-align: center;
  font-size: 15px;
}


.fish-bad{

}
.fish-meddium{

}
.fish-veryGood{

}
.fish-good{

}
.calender-notification {
  position: relative;

}
.calender-notification .calender-center {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  font-size: 11px;
  padding-top: 1px;
  border-radius: 50%;
  background-color: #d81b60;
  color: #fff;
  text-align: center;
}
.fish-bad {
  /*background-color: #007d9b;*/
  background-color: rgba(243, 133, 51, 0.1);

  /*background-color: rgba(0 125 155 0.3);*/
}

.fish-meddium {
  /*background-color: #007d9b;*/
  background-color: rgba(0, 125, 155, 0.05);

  /*background-color: rgba(0 125 155 0.3);*/
}

.fish-good {
  /*background-color: #007d9b;*/
  background-color: rgba(165, 162, 63, 0.3);

  /*background-color: rgba(0 125 155 0.3);*/
}

.fish-veryGood {
  /*background-color: #007d9b;*/
  background-color: rgba(128, 214, 81, 0.1);
  /*background-color: rgba(0 125 155 0.3);*/
}

.circel-rood-legenda {
  background-color: #d81b60;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}



