.table-style .today {
  background: $dark-blue;
  color: #ffffff;
}

.table-style th:nth-of-type(7), td:nth-of-type(7) {
  color: $light-blue;
}

.table-style th:nth-of-type(1), td:nth-of-type(1) {
  color: $color-red;
}

.table-style tr:first-child th {
  background-color: #f3f1ed;
  text-align: center;
  font-size: 15px;
}


.fish-bad{

}
.fish-meddium{

}
.fish-veryGood{

}
.fish-good{

}
.calender-notification {
  position: relative;

}
.calender-notification .calender-center {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  font-size: 11px;
  padding-top: 1px;
  border-radius: 50%;
  background-color: #d81b60;
  color: #fff;
  text-align: center;
}




