.icon-img-background-small {
  background-color: #00AA00;
  height: 60px;
  width: 60px;
}

.monney {
  background: url(#{$path}/images/icon/fishing-sprite.png) -300px 0px;
}

.icon-background {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.aas {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) 0px 0px;
}

.vistuig {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -75px 0px;
}

.doe-het-zelf {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -150px 0px;
}

.dobber {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -225px 0px;
}

.interessant, .plaats {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -300px 0px;
}

.spinning {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -375px 0px;
}

.trainer {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -450px 0px;
}

.vishaken {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -525px 0px;
}

.winkel {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -600px 0px;

}

.lokaas {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -675px 0px;
}

.knopen {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -750px 0px;
}

.facebook {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -825px 0px;
}

.home {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -900px 0px;
}

.voer {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -975px 0px;
}

.witvissen {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -1050px 0px;
}

.vliegvissen {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -975px 0px;
}

.karpervissen {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -1125px 0px;
}

.roofvissen {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -1200px 0px;
}

.zeevissen {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -1275px 0px;
}
.bootvissen {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -1350px 0px;
}
.andere {
  background: url(#{$path}/images/icon/color-icon-sprite.jpg) -1425px 0px;
}








.Bootvissen {
  background: url(#{$path}/images/icon/fishing-sprite.png) -60px 0px;
}

.dobber {
  background: url(#{$path}/images/icon/fishing-sprite.png) 0px 0px;
}

.monney {
  background: url(#{$path}/images/icon/fishing-sprite.png) -300px 0px;
}

.Totale.lengte {
  background: url(#{$path}/images/icon/fishing-sprite.png) -360px 0px;
}

.Op.aantal {
  background: url(#{$path}/images/icon/fishing-sprite.png) -660px 0px;
}

.Op.gewicht {
  background: url(#{$path}/images/icon/fishing-sprite.png) -420px 0px;
}

.Roofvissen {
  background: url(#{$path}/images/icon/fishing-sprite.png) -480px 0px;
}

.Witvissen {
  background: url(#{$path}/images/icon/fishing-sprite.png) -540px 0px;
}

.Vliegvissen {
  background: url(#{$path}/images/icon/fishing-sprite.png) -600px 0px;
}

.Zeevissen {
  background: url(#{$path}/images/icon/fishing-sprite.png) -720px 0px;
}

.Karpervissen {
  background: url(#{$path}/images/icon/fishing-sprite.png) -780px 0px;
}