.box-card {
  input{
    border-radius: 2px;
  }
  .news-letter input[type="email"] {
    width: 100%;
    margin-bottom: 14px;
    border: 1px solid #eeeeee;
    padding: 5px 15px;
    font-style: italic;
    border-radius: 0;
    background: #fafafa;
  }
  input[type=number], input[type=password], textarea, textarea.form-control {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
    font-size: 16px;
  }
  .form-control {
    width: 100%;
    height: 37px;
    padding: 6px 16px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .form-control.grey {
    background: #fafafa;
  }
}

.form-search{
  margin-top: 8px;
  width: 75%;
  @media (max-width: 1400px) {
    width: 75%;

  }
  @media (max-width: 600px) {
    width: 50%;
    .form-search.input-sm {
      height: 35px;
    }
  }
}
.form-search.input-sm {
  height: 31px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

