

.stylish-input-group .input-group-addon {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: #fff;
}


.stylish-input-group .form-control {
  border: none;
  border-bottom: 1px solid white;
  background: none;
}

.stylish-input-group .form-control:focus {
  color: #fff;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.stylish-input-group button {
  border: none;
  border: 0;
  background: none;
}