#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 100;
  left: 15%;
  bottom: 10px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

#snackbar.hide {
  visibility: visible;
  -webkit-animation: fadeout 0.5s 29.5s;
  animation: fadeout 0.5s 29.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 10px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 10px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 10px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.snackbar-icon {
  font-size: 10px;
  position: absolute;
  right: 5%;
  top: 5%;
}

.snackbar-icon + .tooltip > .tooltip-inner {
  color: #fff;
}

.modal-header-success {
  color: #fff;
  background-color: #007d9b;
  margin-right: -1px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-content {
  border-radius: 5px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.md-datepicker-calendar-pane.md-pane-open {
  z-index: 100000;
}

.md-datepicker-input-mask {
  overflow: hidden;
}

.snackbar-box {
  background-color: #333;
  min-width: 250px;
  padding: 16px;
}
