.box-card {
  .thumbnail {
    border: none;
    //box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, .07)
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    //box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .07), 1px 2px 5px 0 rgba(0, 0, 0, .06);
    border-radius: 2px;

    .media:first-child {
      margin-top: 0;
    }
    .media, .media-body {
      overflow: hidden;
      zoom: 1;
    }
    .media {
      margin-top: 15px;
      padding: 10px 5px 10px 5px;
      border-bottom: 1px solid #eee;
    }
    .media .media-left {
      float: left;
    }
    .media-body, .media-left, .media-right {
      display: table-cell;
      vertical-align: top;
    }
    .media-left, .media > .pull-left {
      padding-right: 10px;
    }
    .p-content a {
      font-size: 12px;
      color: #666;
      text-decoration: none;
      display: block;
    }
    .p-content span {
      color: #666666;
      font-size: 12px;
      font-style: italic;
    }
    .p-date {
      font-size: 12px;
      font-style: italic;
    }
    span, p, input {
      font-family: 'Merriweather', serif;
      line-height: 26px;
    }
    .media .popular-img {
      position: relative;
      width: auto;
      margin-bottom: 0;
    }
    .media img {
      position: relative;
      width: 100px;
    }
    img {
      position: relative;
      width: 100px;
    }

    .box-card-head {

      h1 {
        text-transform: uppercase;
        font-size: 32px;
        margin: 27px 0 25px;
        letter-spacing: 0.5px;
        color: #333333;
      }
      @media (max-width: 768px) {
        h1 {
          margin: 15px 0 15px 0;
        }
      }
      h2 {
        text-transform: none;
        font-size: 26px;
        margin: 32px 0 0 0;
        letter-spacing: 0.5px;
        color: #666;
      }
      @media (max-width: 768px) {
        h2 {
          margin: 15px 0 15px 0;
          text-align: center;
        }
      }

      h3 {
        font-size: 24px;
        margin: 27px 0 25px;
        letter-spacing: 0.5px;
        color: #333333;
      }
      .subscribe {
        text-transform: uppercase;
        font-size: 18px;
        margin: 15px 0 14px;
        letter-spacing: 0.5px;
        color: #333333;
      }
    }
    .box-card-body {
      h3 {
        font-size: 12px;
        color: #333333;
        text-decoration: none;
        display: block;
        font-weight: 600;
      }
      span {
        color: #666666;
        font-size: 12px;
        font-style: italic;
      }

    }
  }
}

.thumbnail .card-profile {
  position: relative;
  z-index: 1;
  margin-top: -45px;
  right: 25px;
  border-radius: 50%;
  padding: 5px;
  background-color: #FFF;
  //box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, .07);

  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  //-webkit-box-shadow: 0 -3px 3px rgba(0,0,0,.2);
  //box-shadow: 0 -3px 3px rgba(0,0,0,.2);

  img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
  }

}

.thumbnail {
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  a {
    &:hover {
      color: $dark-blue;
      cursor: pointer;
    }
  }
  .error.alert {
    margin-bottom: 0px;
    color: $dark-blue;
    height: 20px;
    line-height: 20px;
    padding: 0px 10px 20px;
  }


  .panel.margin-0 {
    margin-bottom: 0px;

  }

  .panel .panel-body {
    background-color: #323b44;
  }
  .panel .panel-body h3 {
    color: #fff;
  }
  .panel .panel-body p {
    font-size: 1.2em;
  }

  .caption {
    .adres h3{
      margin: 0;
      padding: 0;
    }
    .adres h4{
      margin: 5px;
    }

    h3 {
      font-size: 2.6em;
      margin: 15px 0 15px 0;
      letter-spacing: 0.5px;
      color: #333;
      font-weight: 400;
    }
    h4 {
      font-size: 14px;
      margin: 15px 0 15px 0;
      letter-spacing: 0.5px;
      color: #666;
      font-weight: 100;
    }
    p {
      font-size: 1.4em;
      letter-spacing: 0.5px;
      color: #666;
    }
  }


  .caption.detail {
    h3 {
      text-transform: uppercase;
      font-size: 18px;
      margin: 15px 0 0px 0;
      letter-spacing: 0.5px;
      color: #333333;
    }
    h4 {
      font-size: 16px;
      margin: 0px 0 5px 0;
      letter-spacing: 0.5px;
      color: #666;
      font-weight: 300;
    }
    h5 {
      font-size: 14px;
      margin: 5px 0 5px 0;
      letter-spacing: 0.5px;
      color: #666;
      font-weight: 100;
    }
    p {
      color: #666;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
  }


  .post-thumb img {
    position: relative;
    width: 100px;
  }
  .datum {
    margin: 0;
    a {
      &:hover {
        color: $dark-blue;
        cursor: pointer;
      }
    }

    .active {
      color: $color-red;
      .maand {
        font-size: 24px;
        text-space: 0.5px;
        font-weight: 100;
        margin-top: 0px;
      }
      .jaar {
        margin-top: 0px;
        font-size: 24px;
        text-space: 0.5px;
        font-weight: 100;
      }
    }
    margin: 0;
    .maand {
      font-size: 18px;
      text-space: 0.5px;
      font-weight: 100;
      margin-top: 20px;
    }
    .jaar {
      margin-top: 0px;
      font-size: 18px;
      text-space: 0.5px;
      font-weight: 100;
    }
  }


  //box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .07), 1px 2px 5px 0 rgba(0, 0, 0, .06);
  border-radius: 2px;
  .card-title {
    background-color: $red;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 20px 2px 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  }
  .card-title-naam {
    background-color: $red;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 2px 20px 2px 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  }

}

.octo, .octo div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.octo, .octo div {
  width: 180px;
  height: 180px;
}

.octo {
  transform: rotate(45deg);
}

.octo1 {
  transform: rotate(-45deg);
}

.thumbnail .caption .octo .octo1 img {
  width: 200px;
  height: 200px
}

.thumbnail .caption .social-media {
  width: 50px;
  height: 50px
}
.weisted {
  z-index: 20000;
  width: 25%;
}