.box-card {
  .thumbnail {
    border: none;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, .07);
    //box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .07), 1px 2px 5px 0 rgba(0, 0, 0, .06);
    border-radius: 2px;

    .media:first-child {
      margin-top: 0;
    }
    .media, .media-body {
      overflow: hidden;
      zoom: 1;
    }
    .media {
      margin-top: 15px;
      padding: 10px 5px 10px 5px;
      border-bottom: 1px solid #eee;
    }
    .media .media-left {
      float: left;
    }
    .media-body, .media-left, .media-right {
      display: table-cell;
      vertical-align: top;
    }
    .media-left, .media > .pull-left {
      padding-right: 10px;
    }
    .p-content a {
      font-size: 12px;
      color: #666;
      text-decoration: none;
      display: block;
    }

    .p-content span {
      color: #666666;
      font-size: 12px;
      font-style: italic;
    }
    .p-date {
      font-size: 12px;
      font-style: italic;
    }
    span, p, input {
      font-family: 'Merriweather', serif;
      line-height: 26px;
    }
    .media .popular-img {
      position: relative;
      width: auto;
      margin-bottom: 0;
    }
    .media img {
      position: relative;
      width: 100px;
    }
    img {
      position: relative;
      width: 100px;
    }

    .box-card-head {

      h1 {
        text-transform: uppercase;
        font-size: 26px;
        margin: 27px 0 25px;
        letter-spacing: 0.5px;
        color: #333333;
      }
      @media (max-width: 768px) {
        h1 {
          margin: 15px 0 15px 0;
        }
      }
      h2 {
        text-transform: none;
        font-size: 16px;
        margin: 32px 0 0 0;
        letter-spacing: 0.5px;
        color: #666;
      }
      @media (max-width: 768px) {
        h2 {
          margin: 15px 0 15px 0;
          text-align: center;
        }
      }

      h3 {
        text-transform: uppercase;
        font-size: 24px;
        margin: 27px 0 25px;
        letter-spacing: 0.5px;
        color: #333333;
      }
      .subscribe {
        text-transform: uppercase;
        font-size: 18px;
        margin: 15px 0 14px;
        letter-spacing: 0.5px;
        color: #333333;
      }
    }
    .box-card-body {
      h3 {
        font-size: 12px;
        color: #333333;
        text-decoration: none;
        display: block;
        font-weight: 600;
      }
      span {
        color: #666666;
        font-size: 12px;
        font-style: italic;
      }

    }
  }
}

.thumbnail .card-profile {
  position: relative;
  z-index: 1;
  margin-top: -45px;
  right: 25px;
  border-radius: 50%;
  padding: 5px;
  background-color: #FFF;
  //-webkit-box-shadow: 0 -3px 3px rgba(0,0,0,.2);
  //box-shadow: 0 -3px 3px rgba(0,0,0,.2);

  img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
  }

}

.thumbnail {
  a{
    &:hover {
      color: $dark-blue;
      cursor: pointer;
    }
  }
  .error.alert {
    margin-bottom: 0px;
    color: $dark-blue;
    height: 20px;
    line-height: 20px;
    padding: 0px 10px 20px;
  }

  .thumbnail-head {
    h4 {
      font-size: 18px;
      margin: 15px 0 15px 0;
      letter-spacing: 0.5px;
      color: #333333;
      font-weight: 300;
    }
  }
  .datum {
    margin: 0;
    a{
      &:hover {
        color: $dark-blue;
        cursor: pointer;
      }
    }

    .active {
      color: $color-red;
      .maand {
        font-size: 24px;
        text-space: 0.5px;
        font-weight: 100;
        margin-top: 0px;
      }
      .jaar {
        margin-top: 0px;
        font-size: 24px;
        text-space: 0.5px;
        font-weight: 100;
      }
    }
    margin: 0;
    .maand {
      font-size: 18px;
      text-space: 0.5px;
      font-weight: 100;
      margin-top: 20px;
    }
    .jaar {
      margin-top: 0px;
      font-size: 18px;
      text-space: 0.5px;
      font-weight: 100;
    }
  }

  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, .07);

  //box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .07), 1px 2px 5px 0 rgba(0, 0, 0, .06);
  border-radius: 2px;
  .card-title {
    background-color: $red;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 20px 2px 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  }
  .card-title-naam {
    background-color: $red;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 2px 20px 2px 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  }

}