#nav-bar-bottom {
  .navbar-default{
    background-color: $navbar-bottom-background-color;
  }
  .navbar{
    border: 0;
    margin: 0;
    padding: 0;
  }
  .navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    margin: 5px 10px 5px 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #333333;
  }
  .navbar-default .navbar-nav > li:hover {
    background-color:  #f4f4f4;
    a{
      color: #333;
    }
  }
  .navbar-default .navbar-nav > li.active {
    background-color: #f4f4f4;
    a{
      background-color: #f4f4f4;
      color: #333;
    }
  }
}

@media (max-width: 768px) {
  #nav-bar-bottom {
    .navbar-default .navbar-nav > li > a {
      font-size: 1em;

    }

  }
}

