button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: $dark-blue*2;
}

.btn-subscribe {
  width: 100%;
  background-color: $dark-blue;
  color: #fff;
  font-weight: 600;
  border-radius: 0;
  -webkit-transition: all 0.33s;
  transition: all 0.33s;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 9px 0;
  font-family: 'Open Sans', sans-serif;
}

.box-card {
  button {
    width: 100%;
    background-color: $dark-blue;
    color: #fff;
    font-weight: 600;
    border-radius: 0;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 9px 0;
    font-family: 'Open Sans', sans-serif;
  }
}

.modal .form-group .nogEenVisSoort {
  min-width: 45px;
  min-height: 45px;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.button-up {
  z-index: 2000;
  display: none;
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #f6bd1c;
  border: none;
  right: 25px;
  bottom: 25px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.button-add {
  z-index: 2000;
  position: fixed;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: $color-red;
  color: #fff;
  right: 80px;
  bottom: 25px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

//.modal .form-group {
//  .btn-circle {
//    width: 30px;
//    height: 30px;
//    text-align: center;
//    padding: 6px 0;
//    font-size: 12px;
//    line-height: 1.428571429;
//    border-radius: 15px;
//  }
//  .btn-circle.btn-lg {
//    width: 45px;
//    height: 45px;
//    padding: 10px 16px;
//    font-size: 18px;
//    line-height: 1.33;
//    border-radius: 25px;
//    i {
//      position: absolute;
//      top: 50%;
//      left: 50%;
//      transform: translateX(-50%) translateY(-50%);
//    }
//  }
//  .btn-circle.btn-xl {
//    width: 70px;
//    height: 70px;
//    padding: 10px 16px;
//    font-size: 24px;
//    line-height: 1.33;
//    border-radius: 35px;
//  }
//}

//button[disabled], html input[disabled] {
//  background-color: #fff;
//  cursor: default;
//}